*{
  margin: 0;
  padding: 0;
}
html, body{
  background-color: black;
  height: 100%;
}
.box{
  position: relative;
  display: flex;
  background-color: black;
  height: 100%;
  flex-wrap: wrap;
}
.box-bot{
  position: relative;
  height: 50%;
  width: 50%;
  background-color: black;
}
#b0, #b3{
  height: 100%;
  width: 100%;
  background-color: #353535;
  margin: 0;
}
#b1{
  background-color: #48C9B0;
}
#b2{
  background-color: #E59866;
}

.box-lien{
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.L, .H, .E, .F{ 
  font-family: Arial;
  font-size: 45px;
  font-weight: bold;
  padding: 30px;
  color: white;
  text-decoration: none;
}
.H, .F{
  color: white;
  background-color: transparent;
  font-size: 90px;
}
.L{
  border: 6px solid white;
  background-color: transparent;
  opacity: 1;
  transition: 0.4s;
}
.L:hover{
  background-color: black;
  border-color: black;
  transition: 0.4s;
  text-decoration: underline;
}
.F{
  font-size: 60px;
}

#footer{
  /*top: 50%;
  left: 0;
  transform: translate(0,-50%);*/
}

.BOT{
  margin: 20px;
}
